.ryam {
  .clearfix {
    zoom: 1;
  }
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: grey;
    opacity: 0.8;
  }

  .modalHead {
    .title {
      float: left;
      margin-right: 60px;
    }
    background: #f9f9f9;
    padding-left: 35px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 1px;
  }

  .content {
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: 1400px;
    max-height: 90%;
    box-shadow: 2px 2px 5px #666;
    border: 0;
    overflow: hidden;
  }

  .closeBtn {
    cursor: pointer;
    color: grey;
    font-size: 31px;
    display: inline-block;
    line-height: 0;
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .closeBtn:before {
    content: "×";
  }

  .userContent {
    padding: 10px 35px 10px;
  }
}
