.clearfix {
  zoom: 1;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: grey;
  opacity: 0.8;
}

.modalHead {
  padding: 10px 35px 0px;
}

.smallContent {
  top: 50%;
  transform: translate(-50%, -50%);

}

.bigContent {
  top: 40px;
  transform: translate(-50%);
}

.content {
  background: white;
  position: absolute;
  left: 50%;
  right: auto;
  margin-bottom: 40px;
  margin-right: -50%;
  max-width: 1400px;
  box-shadow: 2px 2px 5px #666;
  border: 0;
}

.closeBtn {
  cursor: pointer;
  color: grey;
  font-size: 31px;
  display: inline-block;
  line-height: 0;
  position: absolute;
  top: 18px;
  right: 10px;
}

.closeBtn:before {
  content: "×";
}

.userContent {
  padding: 10px 35px 0;
  //border: 0;
  //borderRadius: 4px;
  //bottom: auto;
  //minHeight: 10rem;
  //left: 50%;
  //padding: 2rem;
  //position: fixed;
  //right: auto;
  //top: 50%;
  //transform: translate(-50%,-50%);
  //minWidth: 20rem;
  //width: 80%;
  //maxWidth: 60rem;
}

.footer {
  padding: 20px;
}
